---
layout: secondary-nav
title: Lodging and Transportation
nav: general-info
active: 'Lodging and Transportation'
subnav:
- name: 'Lodging'
  url: '#lodging'
- name: 'Getting here'
  url: '#gettinghere'
- name: 'Public transportation'
  url: '#publictransportation'
- name: 'Scooters and e-bikes'
  url: '#scooters'
- name: 'Parking'
  url: '#parking'
---

<section class="general-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Lodging and Transportation</h1>

        <h2 id="lodging">Lodging</h2>
        {% if site.data.conf.venue.hotel.reserved-room-block %}
        <p>
            The conference has a block of rooms reserved at the {{site.data.conf.venue.hotel.name}}, starting at a daily rate of {{ site.data.conf.venue.hotel.cost }} ({% if site.data.conf.venue.hotel.with-tax-cost %}{{ site.data.conf.venue.hotel.with-tax-cost }} with taxes{% else %}plus taxes{% endif %}).
            This rate is valid between the dates of {{site.data.conf.days[1].date}} to {{site.data.conf.days.last.date}}, but only until {% if site.data.conf.venue.hotel.cost-cutoff-date %}{{ site.data.conf.venue.hotel.cost-cutoff-date | date: "%B %-d" }} or until {% endif %}the block fills up.
            Rooms may be available at the group rate before or after the above dates, based on availability at the hotel.
            While the reservation will require a credit card, it will not be charged until you arrive (you may also incur a fee if you do not show, or cancel outside of the allowable cancellation time frame).
        </p>
        {% elsif site.data.conf.venue.hotel.name != nil %}
        <p>
            The conference hotel is the {{ site.data.conf.venue.hotel.name }}. While the reservation will require a credit card, it will not be charged until you arrive (you may also incur a fee if you do not show, or cancel outside of the allowable cancellation time frame).
        </p>
        {% endif %}
        {% if site.data.conf.venue.hotel.check-in-time %}
        <p>
            Check-in is at {{site.data.conf.venue.hotel.check-in-time}} while check-out is
            {{site.data.conf.venue.hotel.check-out-time}}. Included in our reservation is free access to the hotel's guest WiFi
            network.
        </p>
        {% endif %}

        {% if site.data.conf.venue.hotel.multiple-hotels %}
          <p>Due to the nature of hosting this conference on campus, in 2024 there will not
          be a centralized hotel location. The Local Planning Committee has secured small
          blocks of rooms at nearby hotels at modestly discounted rates. Hotel registration
          information (including online booking links and discount codes) will be sent
          directly via email to all registered attendees.</p>
            {%- comment -%} Multiple hotels, slight indent for section {%- endcomment -%}
            <section class="col-md-8">
              <p>
                <strong class="font-bold">Graduate Hotels</strong><br/>
                615 E Huron Street<br/>
                Ann Arbor, MI 48104<br/>
                0.3 miles or about 3 blocks from meeting space<br/>
                Code4Lib Attendee Rate: $239/night plus applicable taxes and fees<br/>
                Reservation Deadline: Friday, April 12, 2024
              </p>

              <p>
                <strong class="font-bold">Bell Tower Hotel </strong><br/>
                300 South Thayer St<br/>
                Ann Arbor, MI 48104<br/>
                Phone: 734 769-3010<br/>
                0.1 miles or about 1 block from meeting space<br/>
                Code4Lib Attendee Rate: $199/night plus applicable taxes and fees<br/>
                Reservation Deadline: Friday, April 12, 2024
              </p>

              <p>
                <strong class="font-bold">Ross Business Center Link</strong><br/>
                710 East University Avenue<br/>
                Ann Arbor, MI 48109<br/>
                Phone: 734 764-7677<br/>
                0.5 from meeting space<br/>
                Code4Lib Attendee Rate: $167/night plus applicable taxes and fees
              </p>

              <p>
                <strong class="font-bold">Residence Inn by Marriott Ann Arbor Downtown</strong><br/>
                120 W Huron St<br/>
                Ann Arbor, MI 48104<br/>
                Phone: 734 662-9999<br/>
                0.8 miles from meeting space<br/>
                Code4Lib Attendee Rate: $209/night plus applicable taxes and fees<br/>
                Reservation Deadline: April 12, 2024
              </p>

              <p>
                <strong class="font-bold"><a href="https://exhibita2.com/">Exhibit A2</a></strong><br/>
                212 S 4th Ave<br/>
                Ann Arbor, MI 48104<br/>
                Phone: 734 409-7273<br/>
                0.6 miles from meeting space<br/>
                The LPC did not pursue a block at this venue, but wanted to share the details
                for those looking for alternate options. Click on the link above for Booking
                Details.<br/>
                At Exhibit A2, you can enjoy an authentic Ann Arbor experience. Our city-centric
                boutique hotel offers you luxurious apartment layouts featuring in-unit kitchens
                with an ambiance that reminds you of home. Our spaces were thoughtfully designed
                to cater to those looking for a weekend away, traveling for work, or considering
                a longer-term stay in the city.
              </p>
            </section>

            {% if site.data.conf.venue.hotel.multiple-hotels-map %}
                <p>
                    The conference Local Planning Committee has put together <a href="{{ site.data.conf.venue.hotel.multiple-hotels-map }}">a Google Map</a> with pins to help you find lodging in the area around the {{ site.data.conf.venue.name }} building, site of the main conference.
                </p>
            {% endif %}
        {% endif %}

        <h2 id="gettinghere">Getting here</h2>
        <p>Ann Arbor is located about 35 min from <a href="https://www.metroairport.com/">Detroit Metro Airport (DTW)</a>, Michigan’s largest airport. The <a href="https://www.michiganflyer.com/">Michigan Flyer</a> is a direct bus line that runs regularly 7 days a week between downtown Ann Arbor and the airport. The Michigan Flyer drops off at the Blake Transit Center, which is about a ½ mile from Central Campus.</p>
        <p><a href="https://amtrakguide.com/routes/wolverine/">Amtrak’s Wolverine train line</a> also conveniently runs through downtown between the Detroit and Chicago metros. The station is about 1 mile from Central Campus.</p>

        <h2 id="publictransportation">Public transportation</h2>
        <p><a href="https://www.theride.org/">TheRide</a> is an extensive public transportation network that runs throughout the Ann Arbor and Ypsilanti (pronounced IP-si-lantee) area. They offer a <a href="https://www.theride.org/maps-schedules/trip-planner">trip-planning tool</a> and <a href="https://www.theride.org/maps-schedules/track-bus">bus tracking</a>. You can pay <a href="https://www.theride.org/fares-passes">one-way fares or purchase a single day pass</a>.</p>
        <p>All fixed-route buses through TheRide are low-floor vehicles equipped with ramps and kneeling features. Buses include audio announcements of major locations and visual displays that tell you the name of the route you are on and where you are headed.</p>
        <p>The University of Michigan also has its own fleet of Blue Buses along 12 routes that are free to anyone on campus without an ID or pass. Blue Buses can get you from Central to North campus or anywhere in between. The <a href="https://tour.umich.edu/text-based/locations/central-campus-transit-center/">Central Campus Transit Center</a> is down the street from the League. Visit <a href="https://ltp.umich.edu/campus-transit/">Campus Transit</a> to learn more.</p>

        <h2 id="scooters">Scooters and e-bikes</h2>
        <p>The university and city of Ann Arbor both have agreements with <a href="https://www.spin.app/">SPIN</a>. You’ll find <a href="https://ltp.umich.edu/2023/04/10/spin-e-bikes-arrive-on-u-m-campus/">Scooters and e-bikes</a> around campus and town, if that’s your thing.</p>

        <h2 id="parking">Parking</h2>
        <p>If you’re driving to the conference, there is street parking, as well as parking garages near the conference venues.</p>

        <h3>Street and handicap parking</h3>
        <p>Metered parking is available throughout campus and downtown, including on several streets surrounding the Michigan League and North Quad. We recommend downloading the <a href="https://eparka2.com/">ePark Ann Arbor</a> app to pay for street parking. There are also pay stations.</p>
        <p>There are a number of 24/7 handicap spaces in the half-moon driveway along the main entrance of the League. There is one dedicated handicap space on South State St, directly outside the west entrance to North Quad. There is also a dedicated handicap space at the northeast corner of the intersection of East Washington and Thayer streets, by the main (south) entrance to North Quad, as well as another on the south side of East Washington St.</p>
        <p>Parking on streets in residential neighborhoods surrounding campus is free, but be mindful of one-way streets, parking only being permitted on one side of the street, and other parking restrictions, including time limits (often 2-hours) or residential-only signage.</p>
        <p>If you’re headed to the workshop at the Bentley Historical Library, free parking is available on the south side of the building in <a href="https://ltp.umich.edu/lot/?xyz=fS">Lot NC42</a>, with a permit provided at the time of your visit.</p>


        <h3>Garages</h3>
        <p>There is a <a href="https://en.parkopedia.com/parking/garage/maynard_street_parking_structure/48104/ann_arbor/?arriving=202403151500&leaving=202403151700">public parking garage on Maynard Street</a>, three blocks from the League. This is your closest option for full day parking. The garage has elevators and it is a straight route through <a href="https://www.annarbor.org/listing/nickels-arcade/1108/">Nickels Arcade</a> and down North University Ave to the Michigan League.</p>
        <p><a href="https://ltp.umich.edu/parking/patient-and-visitor/campus-visitor-parking/">Visitor parking on campus</a> is also available in a number of locations, but there aren’t many near the primary conference venues. The closest are the Palmer Structure, Ann St Structure, and North Ingalls Street lot.</p>
      </div>
    </div>
  </div>
</section>
