/* ==========================================================================
   Color Test for 2022
   ========================================================================== */
//
// Variables
// https://coolors.co/002673-f3d03e-F5F5F5-e8e8e8
// --------------------------------------------------
// blue: #002673
// yellow: #f3d03e
// white: #F5F5F5
// silver: #e8e8e8
// --------------------------------------------------

// Background
$oxford-blue: #061A40;
$xiketic: #070413;

// Foreground
$cultured-white: #F5F5F5;
$turquoise: #00D5C0;
$crayola-pink: #FA62F0;
$honey-yellow: #FDB827;

//Lighter
$cultured-white-lighter: #FFF;
$turquoise-lighter: lighten($turquoise, 10%);
$crayola-pink-lighter: lighten($crayola-pink, 10%);
$honey-yellow-lighter: lighten($honey-yellow, 10%);
$turquoise-darker: darken($turquoise, 10%);
$crayola-pink-darker: darken($crayola-pink, 10%);
$honey-yellow-darker: darken($honey-yellow, 10%);
//
// Settings
// --------------------------------------------------

.CT-body {
    /* Margin bottom by footer height */
    color: #000;
    background-color: $cultured-white;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    padding: 50px;
}

.CT-body a {
    color: #003087;
}

// .CT-body a:hover, .CT-body a:focus {
//     background-color: $black !important;
//     color: $cultured-white !important;
// }


// Alternative hover effect:
.CT-body a:hover, .CT-body a:focus {
    color: lighten(#003087, 5%);
}

.CT-body hr {
    border: 10px solid #003087;
}

.CT-body speaker-info-inner {
    background: #afb0ac;
}

.CT-body .clip-circle-lg {
    background: transparent !important;
    border: 4px solid #003087;
}

.CT-body .speaker-box.selected {
    a {
        color: #f3d03e;
    }
    .speaker-box-inner {
        border-radius: 10px 10px 3px 3px;
        background: #003087;
    }
}


.CT-body .arrow-down {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-top: 15px solid #003087;
    height: 0;
    margin-top: 15px;
    opacity: 0;
    position: absolute;
    width: 0;
    z-index: 99;
}

.CT-body .ct-btn-light{
    background-color: $honey-yellow;
    color: $black;
    &:hover {
        background-color: transparent;
        color: $honey-yellow-lighter;
        border-color: $honey-yellow-darker;
    }
}

.CT-body .ct-btn-outline-light{
    border-color: $honey-yellow;
    color: $honey-yellow;
    &:hover {
        background-color: $honey-yellow;
        color: black;
        border-color: $honey-yellow-darker;
    }
}

.CT-body .ct-btn-middle{
    background-color: $crayola-pink;
    color: $black;
    &:hover {
        background-color: transparent;
        color: $crayola-pink;
        border-color: $crayola-pink-darker;
    }
}

.CT-body .ct-btn-outline-middle{
    border-color: $crayola-pink;
    color: $crayola-pink;
    &:hover {
        background-color: $crayola-pink;
        color: black;
        border-color: $crayola-pink-darker;
    }
}

.CT-body .ct-btn-dark{
    background-color: $turquoise;
    color: $black;
    &:hover {
        background-color: transparent;
        color: $turquoise-lighter;
        border-color: $turquoise-darker;
    }
}

.CT-body .ct-btn-outline-dark{
    border-color: $turquoise;
    color: $turquoise;
    &:hover {
        background-color: $turquoise;
        color: black;
        border-color: $turquoise-darker;
    }
}

