@mixin link-styles {
  border-bottom: 1px dotted;
  color: $primary;
  text-decoration: none;
}

@mixin link-styles-states {
  background-color: $accent;
  color: $primary-dark;
  border-bottom: 2px solid;
  text-decoration: none;
}

#mainNavBar {
    .nav-link {
        color: $cultured-white;
        padding: 0 0.5rem;
        &:hover {
            color: $accent !important;
            border-bottom: 2px solid;
            margin-bottom: -2px;
        }
    }
}

#footerNav .nav {
    color: $cultured-white;
    &:hover {
        color: $accent !important;
        border-bottom: 2px solid;
        margin-bottom: -2px;
    }
}