---
layout: default
title: code4lib 2024
---

{% include homepage/jumbotron.html %}

<section>
    <div class="container">
        {% unless site.data.conf.homepage-display == 'peri' %}
        <div class="row">
            <div class="col-12">
                <h2>The conference for people who code for libraries.</h2>
                <p>
                    An annual gathering of technologists from around the world, who largely work for and with libraries,
                    archives, and museums and have a commitment to open technologies.
                </p>
            </div>
        </div>
        {% endunless %}
        <div class="row">
            {% include homepage/{{ site.data.conf.homepage-display }}_conference.html %}
        </div>
    </div>
</section>


{% if site.data.conf.location != '' %}
<section class="welcome">
    <div class="container">
        <div class="row section">
            <div class="col-lg-12 col-md-7 col-xs-12">
                <h2>Welcome to {{site.data.conf.location}}{% if site.data.conf.catchline %}, {{site.data.conf.catchline}}{% endif %}</h2>
                {% if site.data.conf.welcome-message %}<p>{{site.data.conf.welcome-message}}</p>{% endif %}
                {% if site.data.conf.venue.name != nil %}
                <p>
                    The conference will take place at {{site.data.conf.venue.name}},
                    in {{ site.data.conf.location }}. It's hosted by the <a href="https://www.si.umich.edu/">University of Michigan School of Information</a> and <a href="https://lib.umich.edu/">University of Michigan Library</a>.
                </p>
                <p class="alert alert-warning"><strong>Important schedule note:</strong> The main conference will begin on Monday at 1pm with the opening keynote. Tuesday and Wednesday are full conference days, followed by post-conference workshops on Thursday. Decisions about this year's conference schedule were based on venue availability. Keep an eye on <a href="/schedule/">the schedule</a> for details as the program is finalized.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}


<section>
    <div class="container">
        <div class="row" id="testimonials">
            {% for testimonial in site.data.testimonials %}
            <div class="col-sm-6 col-md-4 testimonial">
                <div class="thumbnail">
                    <div class="speech-bubble">
                        <div class="arrow bottom right"></div>
                        {{ testimonial.blurb }}
                    </div>
                    <div class="caption">
                        <h3><a href="https://twitter.com/{{ testimonial.twitter }}">{{ testimonial.name }}</a></h3>
                        <p>{{ testimonial.org }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <script src="{{ "/assets/js/testimonials.js" | relative_url }}"></script>
        </div>
    </div>
</section>
