<section class="general-info">
    <div class="col-12">
        <h2 id="conference-hotel">Conference Venue</h2>

        <p>Code4Lib {{site.data.conf.year}} will be held at {{site.data.conf.venue.name}} in {{site.data.conf.location}}.</p>

        {% if site.data.conf.venue.image %}
        <div class="col-6">
            <img class="img-fluid" src="/assets/img/theme-images/{{ site.data.conf.venue.image }}" alt="{{ site.data.conf.venue.name }}">
        </div>
        {% endif %}

        <div class="col-6">
            <p>
                {{site.data.conf.venue.street}}<br>
                {{site.data.conf.city-state}} {{site.data.conf.venue.postal-code}}<br>
                {% if site.data.conf.venue.phone != nil %}
                    <a href="tel:{{site.data.conf.venue.phone}}">{{site.data.conf.venue.phone}}</a> |
                {% endif %}
                {% if site.data.conf.venue.website != nil %}
                    <a href="{{site.data.conf.venue.website}}">Website</a>
                {% endif %}
                {% if site.data.conf.venue.floorplan != nil %}
                 | <a href="{{site.data.conf.venue.floorplan}}">Floor Plan</a>
                {% endif %}
            </p>
        </div>

        <p>
            See the <a href="/general-info/accessibility/">Accessibility</a> section for more info on <a href="/general-info/accessibility#transportation">public transportation</a> and <a href="/general-info/accessibility#parking">parking</a>.
        </p>
    </div>

    {% if site.data.conf.venue.hotel.show %}
    <div class="col-12">
        <h3>Lodging</h3>
        {% if site.data.conf.venue.hotel.reserved-room-block %}
        <p>
            The conference has a block of rooms reserved at the {{site.data.conf.venue.hotel.name}}, starting at a daily rate of {{ site.data.conf.venue.hotel.cost }} ({% if site.data.conf.venue.hotel.with-tax-cost %}{{ site.data.conf.venue.hotel.with-tax-cost }} with taxes{% else %}plus taxes{% endif %}).
            This rate is valid between the dates of {{site.data.conf.days[0].date}} to {{site.data.conf.days.last.date}}, but only until {% if site.data.conf.venue.hotel.cost-cutoff-date %}{{ site.data.conf.venue.hotel.cost-cutoff-date | date: "%B %-d" }} or until {% endif %}the block fills up.
            Rooms may be available at the group rate before or after the above dates, based on availability at the hotel.
            While the reservation will require a credit card, it will not be charged until you arrive (you may also incur a fee if you do not show, or cancel outside of the allowable cancellation time frame).
        </p>
        {% elsif site.data.conf.venue.hotel.name != nil %}
        <p>
            The conference hotel is the {{ site.data.conf.venue.hotel.name }}. While the reservation will require a credit card, it will not be charged until you arrive (you may also incur a fee if you do not show, or cancel outside of the allowable cancellation time frame).
        </p>
        {% endif %}
        {% if site.data.conf.venue.hotel.check-in-time %}
        <p>
            Check-in is at {{site.data.conf.venue.hotel.check-in-time}} while check-out is
            {{site.data.conf.venue.hotel.check-out-time}}. Included in our reservation is free access to the hotel's guest WiFi
            network.
        </p>
        {% endif %}

        {% if site.data.conf.venue.hotel.multiple-hotels %}
<!--
            {%- comment -%} Princeton hotels, slight indent for section {%- endcomment -%}
            <section class="col-md-8">
                <p>
                    <strong class="font-bold">Nassau Inn</strong><br>
                    10 Palmer Square<br>
                    Princeton, NJ 08542<br>
                    <a href="tel:1-609-921-7500">(609) 921-7500</a><br>
                    <a href="https://nassauinn.com/">https://nassauinn.com/</a>
                </p>
                <p>
                    <strong class="font-bold">Peacock Inn</strong><br>
                    20 Bayard Lane<br>
                    Princeton, NJ 08540<br>
                    <a href="tel:1-609-924-1707">(609) 924-1707</a><br>
                    <a href="https://www.peacockinn.com/">https://www.peacockinn.com/</a>
                </p>
            </section>
-->

            {% if site.data.conf.venue.hotel.multiple-hotels-map %}
                <p>
                    The conference Local Planning Committee has put together <a href="{{ site.data.conf.venue.hotel.multiple-hotels-map }}">a Google Map</a> with pins to help you find lodging in the area around the {{ site.data.conf.venue.name }} building, site of the main conference.
                </p>
            {% endif %}
        {% endif %}

        {% if site.data.conf.venue.hotel.self-parking-fee or site.data.conf.venue.hotel.valet-parking-fee %}
            <h3>Parking</h3>
            {% if site.data.conf.venue.hotel.self-parking-fee %}
                <p><strong>Onsite Self-Parking</strong>: {{site.data.conf.venue.hotel.self-parking-fee}} per night</p>
            {% endif %}
            {% if site.data.conf.venue.hotel.valet-parking-fee %}
                <p><strong>Onsite Valet Parking</strong>: {{site.data.conf.venue.hotel.valet-parking-fee}} per night</p>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}

	<div class="col-12">
		<h3 id="transportation">Transportation</h3>
		{% if site.data.conf.public-transportation.show %}
                  <p>Transporation info here.</p>
                {% endif %}
	</div>
</section>
