---
layout: secondary-nav
title: Venues
nav: general-info
active: Venues
subnav:
- name: Conference Venue
  include: conference.html
  url: '#conference'
- name: Workshops
  include: workshops.html
  url: '#workshops'
- name: Reception
  include: reception.html
  url: '#reception'
- name: Newcomer Dinner
  include: dinner.html
  url: '#dinner'
- name: Other Social Activities
  include: social.html
  url: '#social'
#- name: LibTechWomen Meetup
#  include: libtechwomen.html
#  url: '#libtechwomen'
#- name: Game Night
#  include: gaming.html
#  url: '#gaming'
#- name: Karaoke Night
#  include: karaoke.html
#  url: '#karaoke'
#- name: Build your own event
#  include: self.html
#  url: '#self'
---

<div class="container-fluid">
    <div class="row">
      <h1>Venues</h1>

      {% for item in page.subnav %}
          <div class="row">
            <div class="col-12">
              {% include_relative {{item.include}} %}
            </div>
          </div>
      {% endfor %}

    </div>
</div>
