<section class="general-info">

    <div class="col-12">
        <h2 id="reception">Reception</h2>

        {% unless site.data.conf.reception.show %}
            Stay tuned… When the location and timing of the conference reception is confirmed, the details will be added here.
        {% else %}

            <h3>{{ site.data.conf.reception.venue }}</h3>
            <div class="row">
                <div class="col-6">
                    <a href="{{site.data.conf.reception.url}}">
                        <img src="/assets/img/venues/{{site.data.conf.reception.image}}" class="img-fluid"
                            title="{{site.data.conf.reception.image_title}}" alt="{{site.data.conf.reception.image_alt}}"></a>
                </div>
                <div class="col-6">
                    <p>
                        {{site.data.conf.reception.venue}}<br />
                        {{site.data.conf.reception.street}}<br />
                        {{site.data.conf.city-state}} {{site.data.conf.reception.postal-code}}<br />
                        <a href="tel:{{site.data.conf.reception.phone}}">{{site.data.conf.reception.phone}}</a> or <a
                            href="{{site.data.conf.reception.contact}}">contact online</a>{% if site.data.conf.reception.floorplan != nil %}
                        | <a href="{{site.data.conf.reception.floorplan}}">Floor Plan</a> {% endif %}<br />
                    </p>
                </div>
            </div>

            <div class="col-12">
                <h3>Reception Details</h3>
                <p><strong>When: </strong>
                    {{site.data.conf.reception.date | date: '%A, %B %-d, %Y'}} from {{site.data.conf.reception.times}}
                </p>
                {% if site.data.conf.reception.special-notes %}
                <p><strong>Note: </strong>
                    {{site.data.conf.reception.special-notes}}
                </p>
                {% endif %}
            </div>

            <div class="col-12">
                <h3>Directions</h3>
                <p>Don't forget your conference name tag and lanyard!</p>
                <h4>Transit</h4>
                <p>Using technology:</p>
                <div style="margin: auto; max-width: 900px;" class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.6973206822017!2d-74.6642593!3d40.34906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3e6bf4ff1a925%3A0x1ee9277928d94a5b!2sPalmer%20House!5e0!3m2!1sen!2sus!4v1675090783055!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        {% endunless %}
    </div>
</section>
