---
layout: secondary-nav
title: Social Activities
nav: general-info
active: Social Activities
subnav:
#- name: Simulation Workshop
#  include: simulation.html
#  url: '#simulation'
- name: Tours
  include: tours.html
  url: '#tours'
- name: Newcomer Dinner
  include: newcomer-dinner.html
  url: '#newcomer-dinner'
- name: Morning Run
  include: morning-run.html
  url: '#morning-run'
- name: Game Night
  include: game-night.html
  url: '#game-night'
#- name: Virtual Game Night
#  include: virtual-game-night.html
#  url: '#virtual-game-night'
- name: DIY Activities
  include: diy.html
  url: '#diy'
#- name: Karaoke Night
#  include: karaoke-night.html
#  url: '#karaoke-night'
#- name: Trivia Night
#  include: trivia-night.html
#  url: '#trivia-night'
---

<div class="container-fluid">
    <div class="">
      <h1>Social Activities</h1>

      {% for item in page.subnav %}
          <div class="row">
            <div class="col-12">
              {% include_relative {{item.include}} %}
            </div>
          </div>
      {% endfor %}

    </div>
</div>
