{% if site.data.conf.tours.show %}
<section class="general-info social-event">
  <div class="col-12">
      <h2 id="tours">Tours</h2>
      <p>Tours are taking place on Monday, May 13 at 11am at multiple sites across the University of Michigan campus.</p>
      <p>Space on each tour is limited, so please sign up today! Tour location details and where to meet are on the sign-up sheet.</p>
      <p><a class="btn ct-btn-light" target="blank" href="{{site.data.conf.tours.sign-up-url}}">{{site.data.conf.tours.sign-up-button-text}}</a>

      {% for tour in site.data.conf.tours.tours %}
      <div class="social-event-details">
          <h3>{{tour.name}}</h3>
          {% if tour.location %}
            <p><span class="font-weight-bold">Where: </span> {{tour.location}}</p>
          {% endif %}
          {% if tour.date %}
            <p><span class="font-weight-bold">When: </span>{{tour.date | date: '%A, %B %-d, %Y'}}, {{tour.time}}</p>
          {% endif %}
          <p>{{ tour.description }}</p>

          {% if tour.sign-up-url %}
            <a class="btn ct-btn-light" target="blank" href="{{tour.sign-up-url}}">{{tour.sign-up-button-text}}</a>
          {% endif %}

          {% if tour.event-url %}
            <a class="btn ct-btn-light" target="blank" href="{{tour.event-url}}"> {{tour.event-url-button-text}}</a>
          {% endif %}
      </div>
      {% endfor %}
  </div>
</section>
{% endif %}
